# Load CSV files. Exercise 1

Use the dataset about Liga (1919-2020) champions: "La_Liga_Winners.csv"

https://www.kaggle.com/kishan305/spanish-football-la-liga-champions

In [1]:
# import pandas library
import pandas as pd

In [2]:
# load the CSV file into a DataFrame
df = pd.read_csv('../datasets/La_Liga_Winners.csv')

In [3]:
# show DataFrame
df

,Season,Winner,Runner-up,Third Place,Top Scorer,Top scorer's club(s),Goals
0,1929,Barcelona,Real Madrid,Athletic Bilbao,Paco Bienzobas,Real Sociedad,14
1,1929–30,Athletic Bilbao,Barcelona,Arenas,Guillermo Gorostiza,Athletic Bilbao,19
2,1930–31,Athletic Bilbao,Racing Santander,Real Sociedad,Agustín Sauto Arana,Athletic Bilbao,27
3,1931–32,Real Madrid,Athletic Bilbao,Barcelona,Guillermo Gorostiza,Athletic Bilbao,12
4,1932–33,Real Madrid,Athletic Bilbao,Espanyol,Manuel Olivares,Real Madrid,16
...,...,...,...,...,...,...,...
87,2015–16,Barcelona,Real Madrid,Atlético Madrid,Luis Suárez,Barcelona,40
88,2016–17,Real Madrid,Barcelona,Atlético Madrid,Lionel Messi,Barcelona,37
89,2017–18,Barcelona,Atlético Madrid,Real Madrid,Lionel Messi,Barcelona,34
90,2018–19,Barcelona,Atlético Madrid,Real Madrid,Lionel Messi,Barcelona,36
91,2019–20,Real Madrid,Barcelona,Atlético Madrid,Lionel Messi,Barcelona,25

In [ ]:
# show first lines of the DataFrame

In [ ]:
# show the 3 first lines of the DataFrame

In [ ]:
# show the last lines of the DataFrame

In [ ]:
# show the 8 last lines of the DataFrame

In [ ]:
# show the "shape" of the DataFrame (files x rows)

In [ ]:
# show the main statistics

In [ ]:
# select the 'Winner' column as a Series

In [ ]:
# show the type of the previous selection

In [ ]:
# Another way of selecting a column:  dataframe_name.column_name

In [ ]:
# show the type of the previous selection

In [ ]:
# select the 'Winner' column as a DataFrame

In [ ]:
# show the type of the previous selection

In [ ]:
# select many columns: 'Top Scorer' and  'Goals'

In [ ]:
# show the type of the previous selection

In [ ]:
# show the argument type you have passed to the DataFrame to get the previous selection (['column1','column2'])