# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [1]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [2]:
!conda env list

# conda environments:
#
base                     /home/xuwira30/miniconda3
sistemas              *  /home/xuwira30/miniconda3/envs/sistemas

In [3]:
# Load XLS file (from local filesystem)
df = pd.read_excel('../datasets/sample_superstore.xls')

In [4]:
# Load XLS file (from GitHub repo)
df = pd.read_excel('https://github.com/bigdatawirtz/sistemas-bigdata-2023/raw/main/datasets/sample_superstore.xls', 'Orders')

In [5]:
# show DataFrame
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [6]:
# Show the 3 first rows filas
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [7]:
# Show 5 random rows
df.sample(n = 5) # sample() Devuelve registro seleccionado de forma aleatoria

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2781,2782,CA-2017-146724,2017-11-20,2017-11-27,Standard Class,HG-15025,Hunter Glantz,Consumer,United States,Lakeville,...,55044,Central,OFF-AR-10001026,Office Supplies,Art,"Sanford Uni-Blazer View Highlighters, Chisel T...",22.000,10,0.0,9.6800
2786,2787,CA-2015-149972,2015-09-21,2015-09-23,First Class,CD-12790,Cynthia Delaney,Home Office,United States,Los Angeles,...,90036,West,OFF-FA-10002763,Office Supplies,Fasteners,Advantus Map Pennant Flags and Round Head Tacks,7.900,2,0.0,2.5280
524,525,US-2016-139486,2016-05-21,2016-05-23,First Class,LH-17155,Logan Haushalter,Consumer,United States,Los Angeles,...,90032,West,TEC-AC-10003832,Technology,Accessories,Imation 16GB Mini TravelDrive USB 2.0 Flash Drive,66.260,2,0.0,27.1666
4768,4769,CA-2017-158883,2017-06-02,2017-06-03,Same Day,CS-11860,Cari Schnelling,Consumer,United States,Jacksonville,...,28540,South,OFF-PA-10004733,Office Supplies,Paper,Things To Do Today Spiral Book,25.344,4,0.2,9.1872
9667,9668,CA-2016-126270,2016-04-23,2016-04-27,Standard Class,AF-10870,Art Ferguson,Consumer,United States,San Clemente,...,92672,West,OFF-BI-10002764,Office Supplies,Binders,Recycled Pressboard Report Cover with Reinforc...,18.088,7,0.2,6.5569

In [8]:
# From the last 10 rows, show the 5 first ones
df.tail(10).head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.50,10,0.0,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.60,4,0.0,16.1240
9986,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.24,1,0.0,15.2208
9987,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.99,1,0.0,28.7964
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.10,5,0.0,55.6470

In [9]:
# Show 3 random rows from the first 50 ones
df.head(50).sample(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
31,32,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,OFF-AR-10004042,Office Supplies,Art,"BOSTON Model 1800 Electric Pencil Sharpeners, ...",86.304,6,0.2,9.7092
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694

In [10]:
# Show info about column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [11]:
# zip code type: 
type(df['Postal Code'][0])

numpy.int64

In [13]:
# Discount type: 
type(df['Discount'][0])

numpy.float64

In [12]:
# Country data type: 
type(df['Country'][0])

str

In [13]:
# Show column names
df.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'], dtype=object)

In [14]:
# Select and show 5 different random cities
df['City'].sample(5)

2957    Springfield
8752    Tallahassee
5683         Athens
8228           Troy
2553       Columbia
Name: City, dtype: object

In [21]:
# Show the different countries that appear in the data
df['Country'].unique()

array(['United States'], dtype=object)

In [16]:
# Show the different categories
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [17]:
# Select client id, name and city
df[['Customer ID', 'Customer Name', 'City']]

     Customer ID     Customer Name             City
0       CG-12520       Claire Gute        Henderson
1       CG-12520       Claire Gute        Henderson
2       DV-13045   Darrin Van Huff      Los Angeles
3       SO-20335    Sean O'Donnell  Fort Lauderdale
4       SO-20335    Sean O'Donnell  Fort Lauderdale
...          ...               ...              ...
9989    TB-21400  Tom Boeckenhauer            Miami
9990    DB-13060       Dave Brooks       Costa Mesa
9991    DB-13060       Dave Brooks       Costa Mesa
9992    DB-13060       Dave Brooks       Costa Mesa
9993    CC-12220      Chris Cortes      Westminster

[9994 rows x 3 columns]

In [18]:
# Select Order ID (as Dataframe)
df[['Order ID']]

            Order ID
0     CA-2016-152156
1     CA-2016-152156
2     CA-2016-138688
3     US-2015-108966
4     US-2015-108966
...              ...
9989  CA-2014-110422
9990  CA-2017-121258
9991  CA-2017-121258
9992  CA-2017-121258
9993  CA-2017-119914

[9994 rows x 1 columns]

In [19]:
# Count elements in Series "Region"
df['Region'].count()

9994

In [28]:
# Show elementes from "Region" Series
df['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [80]:
# Count different elements in Series "Region"
df['Region'].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [81]:
# Create a Series with quantities in each order line and show the result
#df[['Quantity']].value_counts()

Quantity
3           2409
2           2402
5           1230
4           1191
1            899
7            606
6            572
9            258
8            257
10            57
11            34
14            29
13            27
12            23
Name: count, dtype: int64

In [95]:
# Show the lines with quantities greater than 2
df[['Quantity']].query('Quantity>2')

      Quantity
1            3
3            5
5            7
6            4
7            6
...        ...
9984        10
9985         4
9988         5
9989         3
9992         4

[6693 rows x 1 columns]

In [61]:
# Show only the DataFrame lines with subcategory  "Tables"
df[['Sub-Category']].head().tail(2).head(1)

  Sub-Category
3       Tables

In [102]:
# Show the cities with orders including "Tables"
#df[['City']].query('Category')

UndefinedVariableError: name 'Category' is not defined

In [ ]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.

In [ ]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.

In [ ]:
# Show all the order lines including Phones to 'Los Angeles'

In [ ]:
# Show 10 random order lines with Phones or Tables

In [ ]:
# Select the second row of the dataframe

In [ ]:
# Select the third, seventh and 24 row of the dataset

In [ ]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region

In [ ]:
# Select the second row from the previous DataFrame (sales) using position

In [ ]:
# Select the second row from the previous DataFrame (sales) using index

In [ ]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame

In [ ]:
# Select the fifth row

In [96]:
# Select rows from the third to the seventh one

In [86]:
# Selecdt penultimate row
df.head().tail(2).head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031

In [ ]:
# Select, give the last 5 rows, all but the last one.

In [ ]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [ ]:
# Write to XLS all the sales in the State of California

In [ ]:
# Give a name to the sheet ('California')

In [ ]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row