# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [2]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [3]:
!conda env list

# conda environments:
#
base                     /home/xuwira30/miniconda3
envdos                   /home/xuwira30/miniconda3/envs/envdos
sistemas              *  /home/xuwira30/miniconda3/envs/sistemas

In [4]:
# Load XLS file (from local filesystem)
df = pd.read_excel('../datasets/sample_superstore.xls')

In [7]:
# Load XLS file (from GitHub repo)
df = pd.read_excel('https://github.com/bigdatawirtz/sistemas-bigdata-2023/raw/main/datasets/sample_superstore.xls', 'Orders')

In [8]:
# show DataFrame
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [7]:
#df.Concello.count()

616

In [ ]:
# Show the 3 first rows

In [ ]:
# Show 5 random rows

In [ ]:
# From the last 10 rows, show the 5 first ones

In [ ]:
# Show 3 random rows from the first 50 ones

In [4]:
# Show info about column data types

In [ ]:
# Show the next info
#
# zip code type: 
#
# Discount type: 
#
# Country data type:

In [ ]:
# Show column names

In [ ]:
# Select and show 5 different random cities

In [ ]:
# Show the different countries that appear in the data

In [ ]:
# Show the different categories

In [ ]:
# Select client id, name and city

In [ ]:
# Select Order ID (as Dataframe)

In [ ]:
# Count elements in Series "Region"

In [ ]:
# Show elementes from "Region" Series

In [ ]:
# Count different elements in Series "Region"

In [ ]:
# Create a Series with quantities in each order line and show the result

In [ ]:
# Show the lines with quantities greater than 2

In [ ]:
# Show only the DataFrame lines with subcategory  "Tables"

In [ ]:
# Show the cities with orders including "Tables"

In [ ]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.

In [ ]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.

In [ ]:
# Show all the order lines including Phones to 'Los Angeles'

In [ ]:
# Show 10 random order lines with Phones or Tables

In [ ]:
# Select the second row of the dataframe

In [ ]:
# Select the third, seventh and 24 row of the dataset

In [ ]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region

In [ ]:
# Select the second row from the previous DataFrame (sales) using position

In [ ]:
# Select the second row from the previous DataFrame (sales) using index

In [ ]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame

In [ ]:
# Select the fifth row

In [ ]:
# Select rows from the third to the seventh one

In [ ]:
# Selecdt penultimate row

In [ ]:
# Select, give the last 5 rows, all but the last one.

In [ ]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [ ]:
# Write to XLS all the sales in the State of California

In [ ]:
# Give a name to the sheet ('California')

In [ ]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row