# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [1]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [2]:
!conda env list

# conda environments:
#
base                     /home/xuwira30/miniconda3
envdos                   /home/xuwira30/miniconda3/envs/envdos
sistemas              *  /home/xuwira30/miniconda3/envs/sistemas

In [3]:
# Load XLS file (from local filesystem)
df = pd.read_excel('../datasets/sample_superstore.xls')

In [4]:
# Load XLS file (from GitHub repo)
df = pd.read_excel('https://github.com/bigdatawirtz/sistemas-bigdata-2023/raw/main/datasets/sample_superstore.xls', 'Orders')

In [5]:
# show DataFrame
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [6]:
# Show the 3 first rows filas
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [7]:
# Show 5 random rows
df.sample(n = 5) # sample() Devuelve registro seleccionado de forma aleatoria

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
8668,8669,CA-2016-149916,2016-12-22,2016-12-24,Second Class,ED-13885,Emily Ducich,Home Office,United States,Seattle,...,98115,West,TEC-MA-10000752,Technology,Machines,Texas Instrument TI-15 Fraction Calculator,11.56,1,0.2,3.7570
2596,2597,CA-2017-149048,2017-05-13,2017-05-17,Standard Class,BM-11650,Brian Moss,Corporate,United States,Columbus,...,47201,Central,TEC-PH-10002310,Technology,Phones,Plantronics Calisto P620-M USB Wireless Speake...,587.97,3,0.0,158.7519
5145,5146,CA-2017-161333,2017-02-02,2017-02-07,Standard Class,JL-15835,John Lee,Consumer,United States,Los Angeles,...,90045,West,OFF-ST-10000464,Office Supplies,Storage,"Multi-Use Personal File Cart and Caster Set, T...",139.04,4,0.0,38.9312
2194,2195,CA-2016-128412,2016-12-10,2016-12-17,Standard Class,AP-10915,Arthur Prichep,Consumer,United States,Seattle,...,98105,West,OFF-AP-10000252,Office Supplies,Appliances,Harmony HEPA Quiet Air Purifiers,35.10,3,0.0,12.2850
1654,1655,US-2017-132444,2017-11-18,2017-11-21,First Class,CD-12280,Christina DeMoss,Consumer,United States,Seattle,...,98105,West,OFF-FA-10000611,Office Supplies,Fasteners,Binder Clips by OIC,2.96,2,0.0,1.4208

In [10]:
# From the last 10 rows, show the 5 first ones
df.tail(10).head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.50,10,0.0,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.60,4,0.0,16.1240
9986,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.24,1,0.0,15.2208
9987,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.99,1,0.0,28.7964
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.10,5,0.0,55.6470

In [16]:
# Show 3 random rows from the first 50 ones
df.head(50).sample(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
44,45,CA-2016-118255,2016-03-11,2016-03-13,First Class,ON-18715,Odella Nelson,Corporate,United States,Eagan,...,55122,Central,TEC-AC-10000171,Technology,Accessories,Verbatim 25 GB 6x Blu-ray Single Layer Recorda...,45.980,2,0.0,19.7714
27,28,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.430,7,0.5,-1665.0522
30,31,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,3.264,2,0.2,1.1016

In [50]:
# Show info about column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [53]:
# zip code type: 
type(df['Postal Code'][0])

numpy.int64

In [55]:
# Discount type: 
type(df['Discount'][0])

numpy.float64

In [54]:
# Country data type: 
type(df['Country'][0])

str

In [18]:
# Show column names
df.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'], dtype=object)

In [27]:
# Select and show 5 different random cities
df['City'].sample(5)

3629         Columbus
2043         Lakewood
3626    San Francisco
4103          Fremont
5890          Chicago
Name: City, dtype: object

In [47]:
# Show the different countries that appear in the data
df['Country'].unique()

array(['United States'], dtype=object)

In [45]:
# Show the different categories
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [37]:
# Select client id, name and city
df[['Customer ID', 'Customer Name', 'City']]

     Customer ID     Customer Name             City
0       CG-12520       Claire Gute        Henderson
1       CG-12520       Claire Gute        Henderson
2       DV-13045   Darrin Van Huff      Los Angeles
3       SO-20335    Sean O'Donnell  Fort Lauderdale
4       SO-20335    Sean O'Donnell  Fort Lauderdale
...          ...               ...              ...
9989    TB-21400  Tom Boeckenhauer            Miami
9990    DB-13060       Dave Brooks       Costa Mesa
9991    DB-13060       Dave Brooks       Costa Mesa
9992    DB-13060       Dave Brooks       Costa Mesa
9993    CC-12220      Chris Cortes      Westminster

[9994 rows x 3 columns]

In [57]:
# Select Order ID (as Dataframe)
df[['Order ID']]

            Order ID
0     CA-2016-152156
1     CA-2016-152156
2     CA-2016-138688
3     US-2015-108966
4     US-2015-108966
...              ...
9989  CA-2014-110422
9990  CA-2017-121258
9991  CA-2017-121258
9992  CA-2017-121258
9993  CA-2017-119914

[9994 rows x 1 columns]

In [56]:
# Count elements in Series "Region"
df['Region'].count()

9994

In [ ]:
# Show elementes from "Region" Series

In [ ]:
# Count different elements in Series "Region"

In [ ]:
# Create a Series with quantities in each order line and show the result

In [ ]:
# Show the lines with quantities greater than 2

In [ ]:
# Show only the DataFrame lines with subcategory  "Tables"

In [ ]:
# Show the cities with orders including "Tables"

In [ ]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.

In [ ]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.

In [ ]:
# Show all the order lines including Phones to 'Los Angeles'

In [ ]:
# Show 10 random order lines with Phones or Tables

In [ ]:
# Select the second row of the dataframe

In [ ]:
# Select the third, seventh and 24 row of the dataset

In [ ]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region

In [ ]:
# Select the second row from the previous DataFrame (sales) using position

In [ ]:
# Select the second row from the previous DataFrame (sales) using index

In [ ]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame

In [ ]:
# Select the fifth row

In [ ]:
# Select rows from the third to the seventh one

In [ ]:
# Selecdt penultimate row

In [ ]:
# Select, give the last 5 rows, all but the last one.

In [ ]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [ ]:
# Write to XLS all the sales in the State of California

In [ ]:
# Give a name to the sheet ('California')

In [ ]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row